.poster {
    
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    width: 700px;
    height: 250px;
    transition: all 0.2s;
}
.poster:hover {
    cursor: pointer;
    background-color: #eeeeee;

}
.poster:focus {
    cursor: text;
    color: #333333;
    background-color: #fff;
    border-color: #666666;
}

.container{
    height: 14rem;
    width: 43rem;
    margin-top: 7rem;  
}

