
.homebox {
    width: 100%;
    height: 100%;
}

.homely {
    height: 20rem;
    width: 30rem;
    margin: 0rem auto;
    border: 1px solid gray;
    align-content: center;
    text-align: center;
    margin-top: 4rem;
    border-radius: 0.7rem;
    box-shadow: 2rem;
}