
.homebox {
    width: 100%;
    height: 100%;
}

.homely {
    height: 10rem;
    width: 40rem;
    margin: 0rem auto;
    border: 1px solid gray;
    align-content: center;
    text-align: center;
    margin-top: 4rem;
    border-radius: 0.7rem;
    box-shadow: 2rem;
}

 .card-userIni {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
    
}

.userName {
    margin-right: 15rem;
    font-weight: bold;
    z-index: 2;
}


.card {
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 40px 15px;
    margin: 40px;
    margin-left: 6rem;
    max-width: 600px;
    
}

.card-text {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    flex: 1;
}

.postContainer {
    flex-direction: column;
}