.resgistration__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0eded
  }
  
  .resgistration__content {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    align-items: center;
    width: 50%;
    height: 72%;
    border: 1px solid #ccc;
    padding: 2rem;
  }
  
  