.navbar {
    background-color: #aadee0;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.pagestext {
    color: black
    
}